units:
  $default_width: cx
  $default_height: cy
  $default_padding: cy
  $default_spread: cx
  px: $default_width + 2
  py: $default_height + 2
  case_height: 25
  xiao_w: 17.8
  xiao_y: xiao_w + 2
  xiao_h: 21
  xiao_usb: 2
points:
  key:
    autobind:
  zones:
    matrix:
      anchor:
        rotate: -15
        shift: [ 100, -100 ]
      columns:
        aussen:
        klein:
        ring:
          key:
            stagger: cy
        mittel:
          key:
            stagger: .5cy
        zeige:
          key.stagger: -4
        innen:
      rows:
        unten:
        mitte:
        oben:
        zahlen:
    daumen:
      anchor:
        ref: matrix_innen_unten
        shift: [-2cx, -2cy]
        rotate: -15
      columns:
        null:
          rows.unten.skip: true
        eins:
          key:
        zwei:
          key:
        drei:
          rows.unten.skip: true
      rows:
        unten:
        oben:

outlines:
  keys:
    - what: rectangle
      where: true
      size: [ $default_width, $default_height ]
  board:
    - what: rectangle
      where: /matrix_(aussen|klein).*/
      size: [ px, py ]
    - what: polygon
      operation: add
      points:
        - ref: matrix_mittel_zahlen
          shift: [-3px -5,.5py]
        - ref: matrix_mittel_zahlen
          shift: [2.5px,.5py]
        - ref: daumen_drei_oben
          shift: [.5px,.5py]
        - ref: daumen_drei_oben
          shift: [.5px,-.5py]
        - ref: daumen_zwei_unten
          shift: [.5px,-.5py]
        - ref: matrix_aussen_unten
          shift: [-.5px,-.5py]
      fillet: 3
  combined:
    - name: board
    - name: keys
      operation: subtract
cases:
  case_name:
    - what: outline
      name: board
      extrude: case_height
pcbs:
  ueboard:
    template: kicad8
    outlines:
      main:
        outline: board
    footprints:
      choc_hotswap:
        what: chocv12
        where: true
        params:
          from: "{{column_net}}"
          to: "{{colrow}}"
      xiao:
        what: xiao
        where:
          ref: matrix_aussen_zahlen
          shift: [1, xiao_y]
          rotate: 90